.corpo{
    color: coral;
    text-align: center;
    background-color: black;
    border: red 2cm;
    border-style: groove;
}
.lista{
    border: double blue;
    background-color: red 10px;
    color: white;
    font-size: 25px;
}

#link-seliga{
    font-size: 25px;
    color: black;
}
#link-seliga:hover{
    font-size: 30px;
    color: goldenrod;
}